body{
    background-color: #07090A;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    color: #17298a;
    font-size: 4em;
}

h2 {
    color: #aeb1bf;
    font-size: 3em;
}

p {
    color: #aeb1bf;
    font-size: 2em;
}

h3 {
    color: #aeb1bf;
    font-size: 1.5em;
}

h4 {
    color: #aeb1bf;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}